node_modules/
.DS_Store
/mirawision-chrome-api-*.tgz
/index.d.ts
/index.js
/bookmarks.d.ts
/bookmarks.js
/commands.d.ts
/commands.js
/context-menu.d.ts
/context-menu.js
/cookies.d.ts
/cookies.js
/downloads.d.ts
/downloads.js
/local-storage.d.ts
/local-storage.js
/notifications.d.ts
/notifications.js
/runtime.d.ts
/runtime.js
/scripting.d.ts
/scripting.js
/side-panel.d.ts
/side-panel.js
/storage-sync.d.ts
/storage-sync.js
/tabs.d.ts
/tabs.js
/types.d.ts
/types.js
/web-navigation.d.ts
/web-navigation.js
/web-request.d.ts
/web-request.js
/windows.d.ts
/windows.js